Vagrant.configure('2') do |config|
  config.vm.box = 'cloudfoundry/bosh-lite'

  config.vm.provider :managed do |managed, override|
    managed.server = "YOUR_SERVER_IP"
    override.vm.box = "tknerr/managed-server-dummy"
    override.ssh.username = "vcap"
    override.ssh.private_key_path = "PATH_TO_SSH_KEY"
  end

 config.vm.provision "bosh" do |c|
   # use cat or just inline full deployment manifest
   c.manifest = `cat bare-metal.yml`
 end
end
